terraform {
  backend "s3" {
    region         = "ap-northeast-1"
    bucket         = "..."
    key            = "template/terraform.tfstate"
    encrypt        = true
    dynamodb_table = "..."
  }
}
