name: reviewdog

on:
  pull_request:

permissions:
  contents: read
  pull-requests: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tflint:
    name: TFLint
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: reviewdog/action-tflint@54a5e5aed57dcfbb4662ec548de876df33d6288d # v1.25.0
        with:
          github_token: ${{ secrets.github_token }}
          working_directory: ${{ github.workspace }}
          reporter: github-pr-review
          tflint_init: true
          tflint_config: ${{ github.workspace }}/tflint/tflint.hcl
          # default: "--call-module-type=all"
          # all だと terraform init をする必要がある
          flags: >-
            --recursive
            --call-module-type local

  trivy:
    name: Trivy
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: reviewdog/action-trivy@a1e6d7dd5520369c076d7ce639a16442938535d8 # v1.14.0
        with:
          github_token: ${{ secrets.github_token }}
          filter_mode: added
          reporter: github-pr-review
          level: info
          fail_on_error: true
          trivy_version: latest
          trivy_command: config
          trivy_target: .

  detect-secrets:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: reviewdog/action-detect-secrets@53b50179462bbe04af2f25f088b97e55e1dec3a1 # v0.29.6
        with:
          github_token: ${{ secrets.github_token }}
          fail_on_error: false
          filter_mode: added
          level: error
          reporter: github-pr-review
